@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}

body {
  @apply h-full bg-black;
}

/* Icons */

.icons {
  @apply relative
  rounded-full
  p-4
  items-center
 hover:bg-slate-300
  hover:bg-opacity-10
  cursor-pointer;
}

.tweetBtnMobile {
  @apply mt-6
  lg:hidden
  rounded-full
  h-14
  w-14
  flex
  items-center
  justify-center
  bg-sky-500
  hover:bg-opacity-80
  transition
  cursor-pointer;
}

.tweetBtn {
  @apply mt-6
  hidden
  lg:block
  rounded-full
  px-4
  py-2
  items-center
  justify-center
  bg-sky-500
  hover:bg-opacity-90
  transition
  cursor-pointer;
}

.buttonStyle {
  @apply disabled:opacity-70
  disabled:cursor-not-allowed
  rounded-full
  font-semibold
  hover:bg-opacity-80
  transition
  border-2;
}

/* Modal */

.modalBg {
  @apply flex
  justify-center
  items-center
  overflow-x-hidden
  overflow-y-auto
  fixed
  inset-0
  z-50
  outline-none
  focus:outline-none
  bg-neutral-800
  bg-opacity-70;
}

.modalResponsive {
  @apply relative
  w-full
  lg:w-3/6
  my-6
  mx-auto
  lg:max-w-3xl
  h-full
  lg:h-auto;
}

.modalContent {
  @apply h-full
  lg:h-auto
  border-0
  rounded-lg
  shadow-lg
  relative
  flex
  flex-col
  w-full
  bg-black
  outline-none
  focus:outline-none;
}

.modalHeader {
  @apply flex
  items-center
  justify-between
  p-10
  rounded-t;
}

.modalCloseBtn {
  @apply p-1
  ml-auto
  border-0
  text-white
  hover:opacity-70
  transition;
}

/* Input */

.inputStyle {
  @apply w-full
  p-4
  text-lg
  bg-black
  border-2
  border-neutral-800
  rounded-md
  outline-none
  text-white
  focus:border-sky-500
  focus:border-2
  transition
  disabled:bg-neutral-900
  disabled:opacity-70
  disabled:cursor-not-allowed;
}
